/* 수정 */
.edit{
    width: 300px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 기본 */
.div{
    width: 500px;
    height: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    border-radius: 15px;
}
/* {item}, 수정,삭제 box */
.valueBox{
    width: 402px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    text-align: left;
    margin: 0 0 5px 5px;
}
input{
    height: 20px;
}
.inputBox{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 내용 입력 input */
.input{
    width: 297px;
    height: 27px;
    border: 0;
    border-radius: 5px;
    padding-left: 5px;
}
.input:focus{
    outline: 1px solid #ff0000;
}
.btn{
    width: 80px;
    height: 30px;
    background-color: white;
    color: black;
    border: 1;
    border-color: lightgray;
    border-radius: 5px;
    margin-left: 5px;
}